* {
    margin: 0px;
}

:root {
    --branding-primary-light: #FFF3CD;
    --branding-primary: #F4CE14;
    --branding-primary-dark: #BF8F00;
    --branding-secondary-light: #D6E1DD;
    --branding-secondary: #495E57;
    --branding-secondary-dark: #2d433c;
}

/* Local Colors applies on color */
.brand-primary {
    color: var(--branding-primary);
}

.brand-primary-dark {
    color: var(--branding-primary-dark);
}

.brand-secondary {
    color: var(--branding-secondary);
    background-color: var(--branding-secondary-light);
}

.brand-secondary {
    color: var(--branding-secondary);
}

.brand-secondary-dark {
    color: var(--branding-secondary-dark);
}

/* Navigation */

.topNav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 72px;
}

.topNav a {
    text-decoration: none;
    color: var(--branding-primary);
}

.topNav a:hover {
    color: var(--branding-primary-dark);
    text-decoration: underline 1px;
}

.topNavlinks {
    display: flex;
    gap: 24px;
}

/* Header */
header {
    background-image: url(/00-Images/Food/Cover\ Ambiance.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: var(--branding-primary);
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 400px;

    justify-content: center;
}

.button-primary {
    background-color: var(--branding-secondary-dark);
    color: var(--branding-secondary-light);

    padding: 4px 12px;
    border-radius: 4px;
    text-decoration: none;  
    /* height: 32px;   */
}

.button-primary:hover {
    background-color: var(--branding-secondary-light);
    border: var(--branding-secondary-dark) 1px solid;
    color: var(--branding-secondary-dark);

    cursor: pointer;
}

.button-secondary {
    background-color: var(--branding-secondary-light);
    color: var(--branding-secondary-dark);
    border: var(--branding-secondary-dark) 1px solid;
    
    padding: 4px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.button-secondary:hover {
    background-color: var(--branding-secondary-light);
    border: var(--branding-secondary-dark) 1px solid;
    color: var(--branding-secondary-dark);

    cursor: pointer;
}

.button-tertiary {
    background-color: var(--branding-primary-dark);
    color: var(--branding-primary-light);
    border: var(--branding-primary-dark) 1px solid;
    
    padding: 4px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.button-tertiary:hover {
    background-color: var(--branding-primary-light);
    border: var(--branding-primary-dark) 1px solid;
    color: var(--branding-primary-dark);

    cursor: pointer;
}

/* Specials */
.specials {
    padding: 40px;
}

.foodImage {
    height: 300px;
    width: 100%;
    object-fit: cover
}

/* Testimonials */
.testimonialcard-header {
    background-color: var(--branding-primary-light);
    padding: 8px 12px;
    /* border: inherit; */
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
